@page "/start-page/admin"
<head>
    <title>Chef</title>
</head>
<div>
    <link rel="stylesheet" href="StartChef.css" />
    <button type="button" onclick="location.href'">Добавить/Удалить пользователя</button>
    <button type="button" onclick="location.href'">Добавить новый Продукт</button>
</div>


@code {

}
