@page "/start-page/logist"
<head>
    <title>Logist</title>
</head>
<div>
    <link rel="stylesheet" href="StartChef.css" />
    <button type="button" onclick="location.href'">Посмотреть все остатки</button>
    <button type="button" onclick="location.href'">Меню ресторанов</button>
    <button type="button" onclick="location.href'">Создать заказ</button>
    <button type="button" onclick="location.href'">Накладные</button>
</div>
@code {

}
