@page "/start-page/chef"
<head>
    <title>Chef</title>
</head>
<div>  
<link rel="stylesheet" href="StartChef.css" />

<button type="button" onclick="location.href'">Остатки Склада</button>
<button type="button" onclick="location.href'">Добавить новый рецепт</button>
<button type="button" onclick="location.href'">Вывести меню ресторана</button>
<button type="button" onclick="location.href'">Ожидаемые поставки</button>


</div>

@code {


}


