@using Krysburger.Core.InputModels
@using Krysburger.BLL.Smthng
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@rendermode RenderMode.InteractiveServer

@page "/start-page"
@inject NavigationManager navManager

<link rel="stylesheet" href="~/StartPage.css" />
<div class="header1">
    <h1>Добро пожаловать!!!!</h1>
</div>
<EditForm Model="@user" OnSubmit="Logiin">
    <DataAnnotationsValidator />
    <div class="header1">
        <ValidationSummary />
    </div>
        <div class="div-3">
            <h5>Логин</h5>
            <InputText @bind-Value="user.Login" />
        </div>
        <div class="div-3">
            <h5>Пароль</h5>
            <InputText @bind-Value="user.Password" />
        </div>
        <div class="div-3">
            <button type="submit">
                VHOD</button>
        </div>
</EditForm>

@code {
    UserInputModel user = new();

    UsersManager userManager = new();

    public void Logiin()
    {
        var url = userManager.UserLogin(user.Login, user.Password);
        navManager.NavigateTo(url);
    }
}