@using Krysburger.Core.InputModels
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@rendermode RenderMode.InteractiveServer

@page "/start-page"

<style>
    body {
        background: #f69a73;
    }
    .div-3 {
        background-color: #FBD603;
        justify-content: space-evenly;
        bottom: 60px;
    }
    .decor {
        position: relative;
        max-width: 200px;
        margin: 50px auto 0;
        background: #FBD603;
        border-radius: 30px;
    }
</style>

<h1>Добро пожаловать!!!!</h1>
<EditForm Model="@user" OnSubmit="Validate">
    <form class="decor">
        <div class="div-3">
            <h5>Логин</h5>
            <InputText @bind-Value="user.Login" />
        </div>
        <div class="div-3">
            <h5>Пароль</h5>
            <InputText @bind-Value="user.Password" />
        </div>
        <div class="div-3">
            <input type="submit" value="Вход" />
        </div>
    </form>
</EditForm>
<div class="div-3">

</div>

@code {
    UserInputModel user = new();

    string message = "";

    private async Task Validate()
    {
        
    }
}